[pplacer]
path=/home/fade0329/anaconda3/envs/deeptipp/bin/pplacer

[hmmalign]
path=/home/fade0329/anaconda3/envs/deeptipp/bin/hmmalign

[hmmsearch]
path=/home/fade0329/anaconda3/envs/deeptipp/bin/hmmsearch
piped=False
elim=10000
filters=True

[hmmbuild]
path=/home/fade0329/anaconda3/envs/deeptipp/bin/hmmbuild

[jsonmerger]
path=/home/fade0329/projects/DeepTIPP/.tipp/bundled-v1.1.0/tippJsonMerger.jar

[exhaustive]
strategy = centroid
minsubsetsize = 20
placementminsubsetsizefacotr = 4
placer = pplacer
weight_placement_by_alignment = True

[blast]
path=/usr/bin/blastn

[reference]
path=/home/fade0329/projects/DeepTIPP/tipp2-refpkg

[tipp]
pushdown = true
